@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$primary: rgb(71, 89, 225);
$tertiary: rgb(186, 135, 38);
$info: rgb(185, 194, 191);
$warning: rgb(177, 205, 207);
$success: rgb(84, 128, 115);
$danger:rgb(167, 57, 57);
$dark: #222222;

$theme-colors: (
  "primary": $primary, 
  "secondary": $secondary, 
  "tertiary": $tertiary, 
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "light": $light
);

@import '~bootstrap/scss/bootstrap.scss';