@import '~bootstrap/scss/bootstrap';

/* Navbar and Footer */
.navbar, .footer {
  background: linear-gradient(to right, #c3d6d1, rgb(203, 218, 213), #d0e4e0, #cfdedd);
  height: 100vh;
}

input::placeholder, .filters {
  color: rgb(78, 74, 74);
}

.nav-email:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .description-text {
      font-size: 24px;
  }
}

/* Masonry */

.my-masonry-grid {
  margin-left: -1%;
  max-width: 101% !important;
  width: 101% !important;
}
.my-masonry-grid_column {
  padding-left: 1%; 
}

/* Modal */

.ReactModal__Content--after-open {
  border-radius: 25px!important;
  border: rgb(184, 195, 187) 1px solid!important;
  background-color: rgb(222, 232, 232)!important;
}

.close-modal {
  cursor: pointer;
}

/* Navbar */

.org-name {
  font-family: 'Cairo Play', sans-serif;
  font-size: 20px;
  font-weight: 900;
}


a.active {
  color: #1d4f43;
  font-weight: 700;
}

a {
  color: black!important;
  text-decoration: none!important;
}

.nav-item[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.toggle-mob-nav-height {
  height: 50px;
}

.hide-item {
  display: none;
}

.show-item {
  display: block;
}

@media (min-width: 576px) {
  .navbar {
    height: 50px;
  }

  .logo {
      position: absolute;
      left: 10px;
  }
  
  .mob-maxi-nav-item {
      display: none;
  }
  
  .des-item {
      display: block!important;
  }

  .profile-buffer {
      position: absolute;
      right: 10px;
  }
}

/* Home */

@keyframes moveFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.homepage-heading {
  animation: moveFromRight 0.5s ease-out;
}

.homepage-banner-wrapper {
  width: 100%;
}

.homepage-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-menu-image {
  height: 120px;
  border: 10px solid transparent;
  transition: height 0.5s ease;
}

.homepage-menu-image:hover {
  border: 0px solid transparent;
  height: 120px;
}

@media (min-width: 576px) {
  .homepage-banner {
      height: 670px!important;
  }
  .homepage-menu-image {
      height: 130px;
      border: 10px solid transparent;
      transition: height 0.5s ease;
  }
  
  .homepage-menu-image:hover {
      border: 0px solid transparent;
      height: 140px;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

// users

.user-row {
  cursor: pointer;
}

/* Register */

#register-name-input, #register-email-input, #register-phone-input, #register-role-input, #register-gender-input, #register-address-input, #register-password-input, #register-birthdate-input,

/* User */

#update-name-input, #update-address-input, #update-birthdate-input, #update-phone-input, #update-gender-input, #update-email-input {
  width: 100%;
}

/* Log In */

.login-form-wrapper {
  background: linear-gradient(to right, #d8e1de, rgb(199, 215, 211), #cbd8d4, #cee0dd);
}

.sign-up-prompt:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 576px) {
  .login-page {
    height: 84vh;
    padding: 25vh;
  }
  .login-form-wrapper {
    margin: 0 400px;
  }
  .login-form-width {
      width: 50vw!important;
  }
}

@media (min-width: 992px) {
  .login-form-width {
      width: 27vw!important;
  }
}

/* Footer */

.footer {
  height: 50px;
}